*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.container h1{
    color: blueviolet;
}

.filters{
    display: flex;
    align-items: center;
    justify-content: center
}